<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
	<div class="amado-pro-catagory clearfix">

		<!-- Single Catagory -->
		<div class="single-products-catagory clearfix">
			<a routerLink="/shop">
				<img src="assets/img/bg-img/1.jpg" alt="">
				<!-- Hover Content -->
				<div class="hover-content">
					<div class="line"></div>
					<p>From $180</p>
					<h4>Modern Chair</h4>
				</div>
			</a>
		</div>

		<!-- Single Catagory -->
		<div class="single-products-catagory clearfix">
			<a  routerLink="/shop">
				<img src="assets/img/bg-img/2.jpg" alt="">
				<!-- Hover Content -->
				<div class="hover-content">
					<div class="line"></div>
					<p>From $180</p>
					<h4>Minimalistic Plant Pot</h4>
				</div>
			</a>
		</div>

		<!-- Single Catagory -->
		<div class="single-products-catagory clearfix">
			<a  routerLink="/shop">
				<img src="assets/img/bg-img/3.jpg" alt="">
				<!-- Hover Content -->
				<div class="hover-content">
					<div class="line"></div>
					<p>From $180</p>
					<h4>Modern Chair</h4>
				</div>
			</a>
		</div>

		<!-- Single Catagory -->
		<div class="single-products-catagory clearfix">
			<a  routerLink="/shop">
				<img src="assets/img/bg-img/4.jpg" alt="">
				<!-- Hover Content -->
				<div class="hover-content">
					<div class="line"></div>
					<p>From $180</p>
					<h4>Night Stand</h4>
				</div>
			</a>
		</div>

		<!-- Single Catagory -->
		<div class="single-products-catagory clearfix">
			<a  routerLink="/shop">
				<img src="assets/img/bg-img/5.jpg" alt="">
				<!-- Hover Content -->
				<div class="hover-content">
					<div class="line"></div>
					<p>From $18</p>
					<h4>Plant Pot</h4>
				</div>
			</a>
		</div>

		<!-- Single Catagory -->
		<div class="single-products-catagory clearfix">
			<a  routerLink="/shop">
				<img src="assets/img/bg-img/6.jpg" alt="">
				<!-- Hover Content -->
				<div class="hover-content">
					<div class="line"></div>
					<p>From $320</p>
					<h4>Small Table</h4>
				</div>
			</a>
		</div>

		<!-- Single Catagory -->
		<div class="single-products-catagory clearfix">
			<a  routerLink="/shop">
				<img src="assets/img/bg-img/7.jpg" alt="">
				<!-- Hover Content -->
				<div class="hover-content">
					<div class="line"></div>
					<p>From $318</p>
					<h4>Metallic Chair</h4>
				</div>
			</a>
		</div>

		<!-- Single Catagory -->
		<div class="single-products-catagory clearfix">
			<a  routerLink="/shop">
				<img src="assets/img/bg-img/8.jpg" alt="">
				<!-- Hover Content -->
				<div class="hover-content">
					<div class="line"></div>
					<p>From $318</p>
					<h4>Modern Rocking Chair</h4>
				</div>
			</a>
		</div>

		<!-- Single Catagory -->
		<div class="single-products-catagory clearfix">
			<a  routerLink="/shop">
				<img src="assets/img/bg-img/9.jpg" alt="">
				<!-- Hover Content -->
				<div class="hover-content">
					<div class="line"></div>
					<p>From $318</p>
					<h4>Home Deco</h4>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- Product Catagories Area End -->


<!-- <app-header></app-header>
<section class="section-main bg padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            <nav class="card">
                <ul class="menu-category" *ngFor="let cat of categoryList">
                    <li><a href="/category">{{cat.categoryName}}</a></li>
                 
                </ul>
            </nav>
        </aside> <!-- col.// -->
        <div class="col-md-9">
            <article class="banner-wrap">
               <img src="assets/images/3.jpg" class="w-100 rounded">
            </article>
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    
   
    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y bg">
    <div class="container">
    
    <div class="row">
    <div class="col-md-6">
        <h3>Download app demo text</h3>
        <p>Get an amazing app  to make Your life easy</p>
    </div>
    <div class="col-md-6 text-md-right">
        <a href="#"><img src="assets/images/misc/appstore.png" height="40"></a>
        <a href="#"><img src="assets/images/misc/appstore.png" height="40"></a>
    </div>
    </div> <!-- row.// -->
    </div><!-- container // -->


</section>
<app-product></app-product>
<app-footer></app-footer> -->
